.navbarmovies {
  height: fit-content !important;
}





@media screen and (max-width: 500px) {
  .navbarmovies button span {
    font-size: 15px;
  }
  .navbarmovies {
    height: 50px !important;
  }
  
}